*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    background: #000;
}
/*navbar*/
nav{
    height: 70px;
    width: 100%;
    background-color: black;
    
}
label.logo{
    font-size: 30px;
    font-weight: bold;
    color: white;
    
    line-height: 80px;
    

}
/*barra de inicio*/
nav ul{
    float: right;
    margin-right: 40px;
}
nav li{
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;
}
nav a{
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    border: 1px solid transparent;
    padding: 7px 10px;
    border-radius: 3px;
}
/*icono*/
img.icono{
    margin-right: 3cm;
}

/*quienes somos*/
.q{
    text-align: center;
    color: white;

}
.parrafo1{
    float: left;
    width: 25%;
    height: 25%;
    margin: 50px;
    padding: 1px;
    text-align: center;
    justify-content: center;
    color: white;
}
/*destacados*/
.d{
    text-align: center;
    color: white;
}
/*contacto*/
.contacto{
    text-align: center;
    color: white;
}
.card-body{
    color: white;
}

/*footer*/

footer{
    background: aqua;
    text-align: left;
    text-decoration: white;
}

